<%-include('base_views/header')-%>
<div class="content">
    <form action="/user/registration" method="post" class="regForm">
        <input type="text" name="reglogin">
        <input type="password" name="regpassword">
        <input type="submit">
    </form>
</div>
<%- include('base_views/footer') -%>