<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% pageName %></title>
    <link rel="stylesheet" href="../html-sources/css/main.css">
</head>
<body>
    <nav class="head_menu">
        <ul class="header_menu">
            <li><a href="/">Главная</a></li>
            <li>Бункер</li>
            <li>Распределение команд</li>
            <li>Клозы</li>
            <% if(!sessionData.user && pageName != 'profile') { %>
            <li><a href="/user/login">Войти</a></li>
            <% } else if(sessionData.user && pageName != 'profile') { %>
            <li><a href="/user/profile">Профиль</a></li>
            <% } else if(sessionData.user && pageName != 'profile') { %>
            <% } %>
        </ul>
    </nav>