<%- include('/base_views/header')-%>

<form action="/user/login" method="post">
    <input type="text" name="LOGlogin">
    <input type="password" name="LOGlogin">
</form>

<%- include(/base_views/footer)-%>